#root {
  margin: 0 auto;
  text-align: center;
  background-color: tomato;
}

.container {
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
  width: 80%;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;
}
